body {
  background: black;
  color: white;
}
body,
h1,
input {
  font-weight: bold;
  font-size: 20px;
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro,
    monospace;
}
h1 {
  font-size: 40px;
  color: #d8fa3c;
}
button {
  font-size: 20px;
  cursor: pointer;
}
input {
  font-weight: bold;
  font-size: 15px;
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro,
    monospace;
}
